@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  font: 16px "Poppins", sans-serif;
  min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(67.08deg, #1E46A3 0%, #000000 48.94%, #C12A23 99.97%);

  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

